@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif !important;
    overflow: hidden;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}
.navbar{
    background-color: rgb(14, 121, 115) !important;
}
footer{
    font-size: .8rem !important;
    font-weight: bold !important;
}
.create{
    font-size: .8rem !important;
}